<!DOCTYPE html>
<html>
<head>
	<title>Register Here</title>
</head>
<body>
	<h1 style="text-align: center;">Register Here</h1>

	<div class="container" style="margin: 0 auto; width: 50%;">
		{% for message in messages %}
			{% if message.message == "User registered successfully!!" %}
				<h4 style="color: green; text-align: center;">{{message}} <a href="{% url 'login' %}" style="color: green; text-decoration: none;">Login</a></h4>
			{% else %}
				<h4 style="color: red; text-align: center;">{{message}}</h4>
			{% endif %}
		{% endfor %}
	</div>

	<form action="" method="POST" style="margin: 0 auto; width: 50%;">
	    {% csrf_token %}
	    <p style="text-align: center;">Enter username</p>
	    <input type="text" id="username" name="username" style="width: 100%; padding: 10px; margin: 10px 0;">
	    <p style="text-align: center;">Enter Email</p>
	    <input type="email" id="email" name="email" style="width: 100%; padding: 10px; margin: 10px 0;">
	    <p style="text-align: center;">Enter Passsword</p>
	    <input type="password" name="password" id="password" style="width: 100%; padding: 10px; margin: 10px 0;">
	    <p style="text-align: center;">Re-enter Passsword</p>
	    <input type="password" name="password2" id="password2" style="width: 100%; padding: 10px; margin: 10px 0;">
	    <input type="submit" style="background-color: #4CAF50; color: white; padding: 10px; margin: 10px 0; border: none; cursor: pointer; width: 100%;">
	</form>
	<br>
	<h3 style="text-align: center;">Already registered? <a href="login" style="color: green; text-decoration: none;">login here</a></h3>
</body>
</html>
